<div style="text-align: center; width:100%">

    <br>
    Highlighted article:
    <br><br>

    <div class="hla hla-1 hide">
        <a href="/homeassistant/homeassistant_hacs_kleenex">
            <img src="/homeassistant/images_kleenex/kleenex_advanced_presentation_high.jpg" width="100px" alt="Home assistant integration Kleenex Pollen radar">
            <br>
            Home assistant integration:<br>Pollen radar
        </a>
    </div>

    <div class="hla hla-2 hide">
        <a href="/zigbee/smart_infrared_transmitter_receiver">
            <img src="/projects/images_christmas_decorations/candles3_with_ir_remote.avif" width="100px" alt="Home assistant integration Kleenex Pollen radar">
            <br>
            Home assistant: automate infrared remote controlled devices
        </a>
    </div>

    <div class="hla hla-3 hide">
        <a href="/zigbee/zigbee_chair_occupancy_sensor">
            <img src="/zigbee/images_chair/pillow_with_sensor.jpg" width="100px" alt="DIY Zigbee chair occupancy sensor">
            <br>
            DIY Zigbee:<br>chair occupancy sensor<br>
        </a>
    </div>

    <div class="hla hla-4 hide">

        <a href="/ideas/home_automation_ideas">
            <img src="/ideas/images/idea.png" width="100px" alt="Home Automation Ideas">
            <br>
            Home Automation Ideas
        </a>
    </div>

    <div class="hla hla-5 hide">
        <a href="/esphome/co2_scd40">
            <img src="/esphome/images_scd40/hardware.jpg" width="100px" alt="ESPHome: CO2 sensor">
            <br>
            ESPHome: CO2 sensor
        </a>
    </div>

    <div class="hla hla-6 hide">
        <a href="/homeassistant/homeassistant_dashboard_hacs">
            <img src="/homeassistant/images/home_assistant_logo.png" width="100px" alt="Home Assistant: Useful HACS custom elements">
            <br>
            Home Assistant:<br>Useful HACS custom elements
        </a>
    </div>

    <div class="hla hla-7 hide">
        <a href="/homeassistant/homeassistant_templates">
            <img src="/homeassistant/images_templates/ha_templates_banner.png" width="100%" alt="Home Assistant: Templates">
            <br>
            Home Assistant: Templates
        </a>
    </div>

    <div class="hla hla-8 hide">
        <a href="/homeassistant/homeassistant_dashboard_grafana">
            <img src="/homeassistant/images_grafana/grafana_logo.svg" width="100px" alt="Home Assistant: Grafana">
            <br>
            Home Assistant: Grafana
        </a>
    </div>

    <div class="hla hla-9 hide">
        <a href="/esphome/microwave_radar_sensor_rcwl-0516">
            <img src="/esphome/images_rcwl-0516/rcwl_0516_wired.jpg" width="100px" alt="ESPHome: DIY Presence detection">
            <br>
            ESPHome: DIY Presence detection
        </a>
    </div>


    <div class="hla hla-10 hide">
        <a href="/zigbee/index#why-i-chose-zigbee">
            <img src="/zigbee/images/zigbee.jpg" width="100px" alt="Zigbee: why did I choose it">
            <br>
            Zigbee: why did I choose it
        </a>
    </div>


</div>