<div style="text-align: center; width:100%">
    <a href="/buy/smart_home_best_buy_tips">Zigbee Smart Home - Best Buy Tips</a>
    <br><br>
    <a href="/buy/smart_home_best_buy_tips"><img src="/buy/images_zigbee/zigbee_banner.png" alt="Smart Home Best Buy Tips" width="100%"></a>
    <hr>

    <br>
    Highlighted tip:
    <br><br>

    <div class="bbt bbt-1">
        <a href="https://s.click.aliexpress.com/e/_DESzCE9" target="_blank">
            <img src="/buy/images_zigbee/mmwave_motion_sensor.jpg" alt="" height="150px"/>
        </a>
        <br><br>
        <a href="https://s.click.aliexpress.com/e/_DESzCE9" target="_blank">Wifi / Zigbee human presence sensor</a>

        It can detect persons when they don't move, when they sit on a couch.
        Ideal for the living room and bedrooms.
    </div>

    <div class="bbt bbt-2">
        <a href="https://s.click.aliexpress.com/e/_DE12BCH" target="_blank">
            <img src="/buy/images_zigbee/zigbee_button2.avif" alt="Zigbee button with single/double/long press" height="150px"/>
        </a>
        <br><br>
        Small <a href="https://s.click.aliexpress.com/e/_DE12BCH" target="_blank">Zigbee button</a> with single/double/long press</div>

    <div class="bbt bbt-3">
        <a href="https://s.click.aliexpress.com/e/_EIl5Lja" target="_blank">
            <img src="/buy/images_bbt/usb_charger.avif" alt="USB Fast charger" height="150px"/>
        </a>
        <br><br>
        <a href="https://s.click.aliexpress.com/e/_EIl5Lja" target="_blank">Dual port USB 2.4A<br>Fast USB charger</a>
    </div>

    <div class="bbt bbt-4">
        <a href="https://s.click.aliexpress.com/e/_EuPZr6H" target="_blank">
            <img src="/buy/images_zigbee/sonoff_zbdongle-e.webp" alt="Sonoff ZBDongle-E Zigbee 3.0 dongle Plus" height="150px"/>
        </a>
        <br><br>
        The most popular Zigbee dongle now is the <a href="https://s.click.aliexpress.com/e/_EuPZr6H" target="_blank">Sonoff ZBDongle-E Plus</a>.
    </div>

    <div class="bbt bbt-5">
        Light sensor
        <a href="/buy/smart_home_best_buy_tips#light-intensity-sensor" target="_blank">
            <img src="/ideas/images/lux_sensor.jpg" alt="Light intensity sensor" height="150px"/>
        </a>
        <br><br>
        <a href="/buy/smart_home_best_buy_tips#light-intensity-sensor" target="_blank">Light intensity sensor.</a>
        <br>
            Automation: Activate the lights when it become dark outside.
    </div>
    <div class="bbt bbt-6">
        Computer T-shirts, Hoodies, Mugs, Stickers, etc..
        <a href="https://www.spreadshirt.nl/shop/design/computer+says+no+mannen+premium+t-shirt-D5cb62c2fe447425b5e7dc3e5?sellable=zrG91VXDZNueq1vQDJZ3-812-7#?affiliateId=1257693" target="_blank">
            <img src="/shop/images/computer-says-no-man-t-shirt.jpg" alt="Computer says no" height="150px" />
        </a>
    </div>

</div>