<link href="/assets/css/vdbrink.css" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

{%- include google-analytics.html -%}

<script type="text/javascript">
    function onloadBody() {
        let els = document.querySelectorAll(".bbt");
        let num = Math.floor(Math.random() * els.length);
        els[num].classList.remove("hide");

        let hla = document.querySelectorAll(".hla");
        let numHLA = Math.floor(Math.random() * hla.length);
        hla[numHLA].classList.remove("hide");

        document.querySelectorAll('h1, h2, h3, h4, h5').forEach(title => {
            title.addEventListener('click', function() {
                const anchor = this.id;
                window.location.href = window.location.origin + window.location.pathname + '#' + anchor;
            });
        });

         document.querySelectorAll('a').forEach(href => {
             if (href.href.startsWith('http') && !href.href.includes('localhost') &&
             !href.href.includes('vdbrink.github.io') && !href.hasAttribute('target')) {
                href.setAttribute('target', '_blank');
            }
         })
    }
    window.onload = onloadBody;
</script>