<img style="float: right;margin-left: 10px;" src="../images/avatar.jpg" alt="me" width="100px">

Hi, my name is Ronald, and I'm a Domotica enthousiast!<br><br>

Do you like what your read here?<br>
Consider to support me!
<br><br>
It's up to you if and how much you want to support me.


<br><br>
I want to thank everybody who already made a donation and support my work and good coffee!

<br><br>
<b>Check out this Funny Geek Shop with cool t-shirt, hoodie, mugs, stickers and much more...</b>
<br>
<a href="https://quote-shirt-shop.myspreadshop.nl/" target="_blank">
    <img src="../shop/images/computer-says-no-man-t-shirt.jpg" alt="computer says no man t-shirt" width="170px">
    <img src="../shop/images/no-comment-man-premium-t-shirt.jpg" alt="no comment man premium t-shirt" width="170px">
    <img src="../shop/images/thats-not-a-bug-its-a-feature-mannen-premium-t-shirt.jpg" alt="that's not a bug it's a feature mannen premium t-shirt.jpg" width="170px">
    <img src="../shop/images/mug-computer-says-no.jpg" alt="computer says no mug" width="170px">
</a>

<br><br>
<b>You can donate via PayPal</b>
<br><br>
<a href="https://www.paypal.me/revdbrink" target="_blank"><img src="../images/paypal.png" alt="Support my blog and donate with PayPal" width="170px" height="36px" data-canonical-src="https://pluspng.com/img-png/-460.png" style="max-width: 100%;"></a>

{% assign yearMonth = 'now' | date: "%Y%m"  %}
{% case yearMonth %}
{% when '202307' %}
<br><br><br>
<b>You can donate via <img src="../images/ideal-logo-png-transparent.jpg" alt="Support my blog and donate with iDeal" width="50px" style="vertical-align:middle"></b>
<img src="../images/qr-sponsor-202307.jpg" alt="Support my blog and donate with iDeal" width="170px" style="max-width: 100%;">
After you scan this you can change the amount to your desired amount, default &euro; 2,50
{% else %}
{% endcase %}

<!--
<br><br><br><br>
<b>or via Buy Me A Coffee</b>
<br><br>
<a href="https://www.buymeacoffee.com/revdbrink" target="_blank"><img src="../images/bmc_qr.png" alt="Support my blog and donate with Buy me a coffee" width="170px"></a>
-->