<!--suppress ALL -->
<div style="display:flex"><img style="float: right;margin-left: 10px;" src="/images/avatar.jpg" alt="me" width="100px">

Hi,<br>My name is Ronald, and I'm a Domotica enthousiast!<br><br>
</div>

<br>
Do you like what I share here?<br>
Is it usefully for you?<br>
Consider to support me!

<br><br>
I want to thank everybody who already made a donation and support my work!

<br><br>
<a id="donate"></a>
{% assign yearMonth = 'now' | date: "%Y%m"  %}
{% case yearMonth %}
{% when '202401' %}
You can donate via <a href="https://www.ing.nl/payreq/m/?trxid=ETIJ7XfGyAjMbmEJkrL1KFi4amdSfrEo" target="_blank">
    <img src="/images/ideal-logo-png-transparent.jpg" alt="Support my blog and donate with iDeal" width="50px" style="vertical-align:middle">
    <img src="/images/qr-sponsor-202401.jpg" alt="Support my blog and donate with iDEAL" width="170px" style="max-width: 100%;"></a>
    Click or scan this iDEAL payment request. You can change the amount of money you want to donate, default is &euro; 2,50
<br><br><br>
{% else %}
{% endcase %}

Check out this <a href="https://quote-shirt-shop.myspreadshop.nl/" target="_blank">Geek Code Quote Shirt Shop</a> with unique t-shirt, hoodie, mugs, stickers and much more...
<br>
<a href="https://spreadshop-admin.spreadshirt.nl/quote-shirt-shop/i+see+dead+pixels-A5cbf7fece447427d4a7899da?productType=812&sellable=Xy9889A9nkSB2BpzaV0w-812-7&appearance=2" target="_blank">
    <img src="/shop/images/i-see-dead-pixels-t-shirt.jpg" alt="I see dead pixels" width="170px">
</a>
<a href="https://quote-shirt-shop.myspreadshop.nl/computer+says+no-A5cb62c2fe447425b5e7dc3e5?productType=963&sellable=zrG91VXDZNueq1vQDJZ3-963-7&appearance=2" target="_blank">
    <img src="/shop/images/computer-says-no-man-t-shirt.jpg" alt="computer says no man t-shirt" width="170px">
</a>
<a href="https://quote-shirt-shop.myspreadshop.nl/no+comment-A5c94163ee44742125512a84e?productType=812&sellable=N0A8ALz8dwFBEQlZzjlG-812-7&appearance=92" target="_blank">
    <img src="/shop/images/no-comment-man-premium-t-shirt.jpg" alt="no comment man premium t-shirt" width="170px">
</a>
<a href="https://quote-shirt-shop.myspreadshop.nl/computer+says+no-A5cb62c2fe447425b5e7dc3e5?productType=949&sellable=zrG91VXDZNueq1vQDJZ3-949-32&appearance=2&size=29" target="_blank">
    <img src="/shop/images/mug-computer-says-no.jpg" alt="computer says no mug" width="170px">
</a>

<br><br>
<b>You can also donate via PayPal</b>
<br><br>
<a href="https://www.paypal.me/revdbrink" target="_blank"><img src="/images/paypal.png" alt="Support my blog and donate with PayPal" width="170px" height="36px" data-canonical-src="https://pluspng.com/img-png/-460.png" style="max-width: 100%;"></a>

<!--
<br><br><br><br>
<b>or via Buy Me A Coffee</b>
<br><br>
<a href="https://www.buymeacoffee.com/revdbrink" target="_blank"><img src="/images/bmc_qr.png" alt="Support my blog and donate with Buy me a coffee" width="170px"></a>
-->