<div class="sd-virtual-deck">
<div class="sd-hint">Click a key to jump to that category</div>
<div class="sd-grid">
{% for item in site.data.streamdeck.categories %}
{% assign category = item[1] %}
{% assign anchor = category.key | replace: '_', '-' %}
<a class="sd-key" href="#{{ anchor }}">
    <span class="sd-key-face"><img src="/projects/images_stream_deck/category/{{ category.key }}_logo.png" alt="{{ category.title }}"></span>
    <span class="sd-key-label">{{ category.title }}</span>
</a>
{% endfor %}
</div>
</div>

{% for item in site.data.streamdeck.categories %}
{% assign category = item[1] %}
{% assign anchor = category.key | replace: '_', '-' %}
<div class="clearfix">
<img src="/projects/images_stream_deck/category/{{ category.key }}_logo.png" alt="{{ category.title }} logo" height="70px" style="margin-left:15px;float:right"/>
<h3 id="{{ anchor }}">{{ category.title }}</h3>
<p>{{ category.description }}</p>
{% for dependency in category.dependencies %}

{% assign plugin = site.data.streamdeck.plugins[dependency.plugin] %}
<p>
    Stream Deck Plugin:
    {% if plugin.url %}
    <a href="{{ plugin.url }}">{{ plugin.name }}</a>
    {% else %}
    {{ plugin.name }}
    {% endif %}

    {% if plugin.price %}
    | Price: {{ plugin.price }}
    {% endif %}

    {% if plugin.os %}
    | OS: {{ plugin.os }}
    {% endif %}
</p>

<ul class="sd-action-list">
    {% for action in dependency.actions %}
    <li>
        {% if action.download %}
        <a href="/projects/actions_stream_deck/{{ action.download }}">
          {{ action.name }}
        </a>
        {% else %}
        {{ action.name }}
        {% endif %}
        {% if action.fields %}
        <br>
        <a href="/projects/actions_stream_deck/{{ action.download }}">
        <div class="sd-action-detail">
            <svg class="sd-action-download-icon" aria-label="download icon" viewBox="0 0 24 24" fill="#fff"><path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/></svg>
            {% if action.icon == 1 %}
            {% if action.download %}
            {% assign icon_src = action.download | split: '.' | first | prepend: '/projects/actions_stream_deck/' | append: '.png' %}
            {% else %}
            {% assign icon_slug = action.name | downcase | replace: ' ', '_' %}
            {% assign icon_src = category.key | append: '_' | append: icon_slug | prepend: '/projects/images_stream_deck/icons/' | append: '.png' %}
            {% endif %}
            <img class="sd-action-icon" src="{{ icon_src }}" alt="{{ action.name }} icon"/>
            {% elsif action.icon == 2 %}
            {% assign icon_text = "" %}
            {% for field in action.fields %}
                {% if field.key == "Text" %}
                {% assign icon_text = field.value %}
                {% endif %}
            {% endfor %}
            <div class="sd-action-icon-text">{{ icon_text }}</div>
            {% elsif action.icon %}
            {% assign icon_src = action.icon | prepend: '/projects/actions_stream_deck/' | append: '.png' %}
            <img class="sd-action-icon" src="{{ icon_src }}" alt="{{ action.name }} icon"/>
            {% endif %}
            <div class="sd-action-body">
            {% if action.type %}
            <div class="sd-action-type">{{ action.type }}</div>
            {% endif %}
            <dl class="sd-fields">
                {% for field in action.fields %}
                <dt>{{ field.key }}</dt>
                <dd>{{ field.value }}</dd>
                {% endfor %}
            </dl>
            </div>
        </div>
        </a>
        {% endif %}
        {% if action.requirements %}
        <div class="sd-action-requirements">
            Requires:
            <ul>
            {% for req in action.requirements %}
                <li>
                {% if req.file %}
                <a href="/{{ req.file }}">{{ req.name }}</a>
                {% else %}
                {{ req.name }}
                {% endif %}
                ({{ req.application }}){% if req.description %}: {{ req.description }}{% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% if forloop.last == false %}<hr>{% endif %}
    {% endfor %}
</div>
<br>
{{ category.footnote }}

{% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
