<div class="sd-virtual-deck">
<div class="sd-hint">Virtual Stream Deck: click a key to jump to that category</div>
<div class="sd-grid">
{% for item in site.data.streamdeck.categories %}
{% assign category = item[1] %}
{% assign anchor = category.key | replace: '_', '-' %}
<a class="sd-key" href="#{{ anchor }}">
    <span class="sd-key-face"><img src="/projects/images_stream_deck/category/{{ category.key }}_logo.png" alt="{{ category.title }}"></span>
    <span class="sd-key-label">{{ category.title }}</span>
</a>
{% endfor %}
</div>
</div>

{% for item in site.data.streamdeck.categories %}
{% assign category = item[1] %}
{% assign anchor = category.key | replace: '_', '-' %}
<div class="clearfix">
<img src="/projects/images_stream_deck/category/{{ category.key }}_logo.png" alt="{{ category.title }}" height="70px" style="margin-left:15px;float:right"/>
<h3 id="{{ anchor }}">{{ category.title }}</h3>
{{ category.description }}
{% for dependency in category.dependencies %}
<ul>
    {% for action in dependency.actions %}
    <li>
        {% if action.download %}
        <a href="/projects/actions_stream_deck/{{ action.download }}">
          {{ action.name }}
        </a>
        {% else %}
        {{ action.name }}
        {% endif %}
        {% if action.fields %}
        <br>
        <a href="/projects/actions_stream_deck/{{ action.download }}">
        <div class="sd-action-detail">
            {% if action.icon %}
            {% if action.download %}
            {% assign icon_src = action.download | split: '.' | first | prepend: '/projects/actions_stream_deck/' | append: '.png' %}
            {% else %}
            {% assign icon_slug = action.name | downcase | replace: ' ', '_' %}
            {% assign icon_src = category.key | append: '_' | append: icon_slug | prepend: '/projects/images_stream_deck/icons/' | append: '.png' %}
            {% endif %}
            <img class="sd-action-icon" src="{{ icon_src }}" alt="{{ action.name }} icon"/>
            {% endif %}
            <dl class="sd-fields">
                {% for field in action.fields %}
                <dt>{{ field.key }}</dt>
                <dd>{{ field.value }}</dd>
                {% endfor %}
            </dl>
        </div>
        </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<p></p>

{% assign plugin = site.data.streamdeck.plugins[dependency.plugin] %}
<p>
    Plugin:
    {% if plugin.url %}
    <a href="{{ plugin.url }}">{{ plugin.name }}</a>
    {% else %}
    {{ plugin.name }}
    {% endif %}

    {% if plugin.price %}
    | Price: {{ plugin.price }}
    {% endif %}

    {% if plugin.os %}
    | OS: {{ plugin.os }}
    {% endif %}
</p>
{% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
</div>
{% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
